.middle{
padding-top: 64px;
background: linear-gradient(rgb(11, 12, 16, 0.7), rgb(255, 0, 0, 0.7));
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
}

.version{
  /* background-color: aliceblue; */
  height: 70px;
  padding: 14px 16px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gray; */
}

.version a{
  background:radial-gradient(#0b0c10, rgb(114, 4, 4)) ;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  width: 50%;
  height: 50%;
justify-content: center;
display: flex;
align-items: center;
transition: width 1s, height 1s, border-radius 1s, font-size 1s ease-in-out ;
}


.version a:hover{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 40px;
}


.image{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bcgImage{
  width: 100%;
  height: 100%;
}