body {
  background-color: rgb(25, 25, 25);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.btn-container {
  height: 200px;
  /* border:1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 34px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
  border-radius: 100px;
  background-color: transparent;
}

.move-btn {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 160px;
  /* padding: 20px 20px; */
  width: 120px;
  height: 120px;
  margin: 12px 12px;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgb(130, 122, 122);
  transition: box-shadow 0.3s;
}

.move-btn:hover {
  box-shadow: 0px 0px 40px rgb(67, 185, 24);
}

.result {
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
}

.js-moves {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 0px;
  font-size: 24px;
}

.score {
  margin-top: 50px;
  margin-bottom: 30px;
}

.reset-score-btn, .auto-play {
  background-color: #b9c5bb;
  color: #111;
  border-radius: 6px;
  border: none;
  padding: 12px 18px;
  font-size: 18px;
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.reset-score-btn:hover {
  background-color: #410707;
  color: #fff;
}

.auto-play:hover{
  background-color: #07413f;
  color: #fff;

}

@media screen and (max-width: 360px) {
    .move-btn {
      width: 60px;
      height: 60px;
      margin: 12px 12px;
    }
    .move-icon {
        height: 30px;
      }
      .reset-score-btn {

        border-radius: 4px;
        border: none;
        padding: 8px 12px;
        font-size: 16px;
        box-shadow: 0px 0px 10px gray;
      }
  }
  @media screen and (min-width: 361px) and (max-width: 450px) {
    .move-btn {
      width: 100px;
      height: 100px;
      margin: 12px 12px;
    }
    .move-icon {
        height: 30px;
      }
      .reset-score-btn {

        border-radius: 4px;
        border: none;
        padding: 8px 12px;
        font-size: 16px;
        box-shadow: 0px 0px 10px gray;
      }
  }

  